<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'MyTeletouchBand' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1f39193c-a32e-4cb1-b936-2f3b9264a989</InstrumentationKey>
</ApplicationInsights>